<div class="container-menu-mobile">
    <div class="menu-mobile">
        <ul class="menu-mobile-list">
            <a href="/mycloset">
            <li>
            <img class="menu-mobile-icon" src="/images/mycloset-icon.svg" alt="">
            <p class="menu-mobile-text">myCloset</p>
            </li>
            </a>

            <a href="/mycloset/profile">
            <li>
            <img class="menu-mobile-icon" src="/images/profile-icon.svg" alt="">
            <p class="menu-mobile-text">Profile</p>
            </li>
            </a>

            <a href="/community">
            <li>
            <img class="menu-mobile-icon" src="/images/community-icon.svg" alt="">
            <p class="menu-mobile-text">Community</p>
            </li>
            </a>
        </ul>
    </div>
</div>