.login-container {
  background-color: $bg-color;
  font-family: $body-font;
  width: 300px;
  margin-top: 5rem;
  text-align: center;
}

.login-logo-text {
  font-family: $logo-font;
}

.divider_login {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-login {
  text-align: left;
  align-items: left;
  color: black;
}

.form-login-label {
  color: black;
}

.login-btn {
  background-color: $t-color;
  color: white;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
}

.form-btns {
  margin-top: 1rem;
  color: $text-color;
}

.signup-ask {
  padding-top: 2rem;
  font-size: 0.9rem;
}

.signup-link {
  padding-left: 0.3rem;
  text-decoration: underline !important;
}

.error-handle {
  margin: 2rem 0;
}

.error-message {
  font-size: 0.8rem;
  color: red;
}
