// General style for navigation app (clothes, outfits, collections)

.clothes-container {
  padding: 0 0.5rem;
}

.add-button-profile {
  background-color: $t-color;
  color: white !important;
  border: none;
  border-radius: 5px;
  width: 8rem;
  height: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.add-collection-profile {
  background-color: $t-color;
  color: white !important;
  border: none;
  border-radius: 5px;
  width: 9rem;
  height: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.divider-section-app {
  width: 75%;
  border: none;
  border-bottom: 0.5px solid $t-color;
}

.each-item {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.divider-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 2rem 1rem 1rem 1rem;
  margin-top: 2rem;
  border: 1.5px solid $t-color;
  background-color: $bg-color;
  border-radius: 10px;
  background-color: $bg-color;
  -webkit-box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
}

.items-buttons {
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
}

.item-name {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.edit-btn-item {
  background-color: $t-color;
  color: white !important;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
}

.add-to-collection {
  background-color: $t-color;
  color: white !important;
  border: none;
  border-radius: 5px;
  width: 15rem;
  height: 2rem;
  margin-top: 1rem;
}

.delete-item-btn {
  display: flex;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #9e2432c5;
  color: white !important;
  margin-left: 1rem;
}

.clothes-image {
  width: 150px;
}

// Add clothes style

.add-item-container {
  padding: 1rem;
  font-family: $body-font;
}

.add-item-title {
  font-family: $logo-font;
  margin-bottom: 2rem;
  text-align: center;
}

.add-item-form {
  display: flex;
  flex-direction: column;
}

.add-item-radio {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0.5rem 0;
  justify-content: space-evenly;
}

.add-item-radio-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
}

label {
  margin: 0;
}

.add-item-label {
  margin-bottom: 0.5rem;
}

.add-item-input {
  margin-bottom: 0.5rem;
}

.add-item-radio-label {
  margin-left: 1rem;
}

// Edit clothes style

.edit-item-image {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.edit-item-image-add {
  margin-top: 1rem;
}

.clothes-image-title {
  margin-bottom: 1rem;
}

.select-clothes-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.select-item-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.delete-item-button {
  display: flex;
  border: none;
  border-radius: 5px;
  width: 15rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #9e2432c5;
  color: white !important;
  margin-bottom: 1rem;
}

.outfit-name-editCol {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add-collection-btn {
  background-color: $t-color;
  color: white !important;
  border: none;
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
}
