// General style for navigation app (clothes, outfits, collections)

.clothes-container {
  padding: 0 0.5rem;
  @include breakpoint-up(large) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.myCommunity {
  padding: 0 0.5rem;
  @include breakpoint-up(large) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

// .each-item {
//   margin-top: 1rem;
//   display: flex;
//   flex-direction: column;
//   @include breakpoint-up(large) {
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
//   }
// }

.add-button-profile {
  background-color: $t-color;
  color: white !important;
  border: none;
  border-radius: 5px;
  width: 8rem;
  height: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.add-collection-profile {
  background-color: $t-color;
  color: white !important;
  border: none;
  border-radius: 5px;
  width: 9rem;
  height: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.divider-section-app {
  width: 75%;
  border: none;
  border-bottom: 0.5px solid $t-color;
}

.each-item {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  @include breakpoint-up(large) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.divider-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 2rem 1rem 1rem 1rem;
  margin-top: 2rem;
  border: 1.5px solid $t-color;
  background-color: $bg-color;
  border-radius: 10px;
  background-color: $bg-color;
  -webkit-box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
  @include breakpoint-up(large) {
    justify-content: space-between;
    align-items: center;
    width: 23rem;
  }
}

.divider-items-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 2rem 1rem 1rem 1rem;
  margin-top: 2rem;
  border: 1.5px solid $t-color;
  background-color: $bg-color;
  border-radius: 10px;
  background-color: $bg-color;
  -webkit-box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
  @include breakpoint-up(large) {
    justify-content: space-between;
    align-items: center;
    width: 23rem;
    margin: 1rem auto;
  }
}

.items-buttons {
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
}

.item-name {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.edit-btn-item {
  background-color: $t-color;
  color: white !important;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  @include breakpoint-up(large) {
    width: 7rem;
    height: 2rem;
    font-size: 1.2rem;
  }
}

.add-to-collection {
  background-color: $t-color;
  color: white !important;
  border: none;
  border-radius: 5px;
  width: 15rem;
  height: 2rem;
  margin-top: 1rem;
}

.delete-item-btn {
  display: flex;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #9e2432c5;
  color: white !important;
  margin-left: 1rem;
  @include breakpoint-up(large) {
    width: 7rem;
    height: 2rem;
    font-size: 1.2rem;
  }
}

.clothes-image {
  width: 150px;
}

// Add clothes style

.container-container {
  @include breakpoint-up(large) {
    display: flex;
    justify-content: center;
  }
}
.container-container-add {
  @include breakpoint-up(large) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.container-container-3 {
  @include breakpoint-up(large) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.container-container-notis {
  @include breakpoint-up(large) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.add-item-container {
  padding: 1rem;
  font-family: $body-font;
  @include breakpoint-up(large) {
    width: 75%;
  }
}
.add-item-container-add {
  padding: 1rem;
  font-family: $body-font;
  @include breakpoint-up(large) {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.type-of-clothes {
  @include breakpoint-up(large) {
    font-size: 1rem;
  }
}

.add-item-title {
  font-family: $logo-font;
  margin-bottom: 2rem;
  text-align: center;
  @include breakpoint-up(large) {
    font-size: 2rem;
  }
}

.add-item-form {
  display: flex;
  flex-direction: column;
  @include breakpoint-up(large) {
    font-size: 1.5rem;
    width: 70%;
    margin: 0 auto;
  }
}

.add-item-form-collection {
  display: flex;
  flex-direction: column;
  @include breakpoint-up(large) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    width: 70%;
    margin: 0 auto;
  }
}

.add-item-form-outfit {
  display: flex;
  flex-direction: column;
  @include breakpoint-up(large) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
  }
}

.add-item-radio {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0.5rem 0;
  justify-content: space-evenly;
  @include breakpoint-up(large) {
    margin: 1rem 0 1rem 0;
    justify-content: space-around;
  }
}

.add-item-radio-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  @include breakpoint-up(large) {
    margin: 1rem 0 1rem 0;
  }
}

label {
  margin: 0;
}

.add-item-label {
  margin-bottom: 0.5rem;
  @include breakpoint-up(large) {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }
}

.add-item-input {
  margin-bottom: 0.5rem;
  @include breakpoint-up(large) {
    font-size: 1rem;
  }
}

.add-item-radio-label {
  margin-left: 1rem;
  @include breakpoint-up(large) {
    font-size: 1rem;
  }
}

// Edit clothes style

.edit-item-image {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  @include breakpoint-up(large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.edit-item-image-add {
  margin-top: 1rem;
}

.clothes-image-title {
  margin-bottom: 1rem;
  @include breakpoint-up(large) {
    font-size: 1rem;
    margin-top: 4rem;
    font-weight: 600;
    margin-right: 1rem;
  }
}

.select-clothes-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  @include breakpoint-up(large) {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

.select-clothes {
  @include breakpoint-up(large) {
    font-size: 1rem;
  }
}

.select-item-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  @include breakpoint-up(large) {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
}

.delete-item-button {
  display: flex;
  border: none;
  border-radius: 5px;
  width: 15rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #9e2432c5;
  color: white !important;
  margin-bottom: 1rem;
}

.outfit-name-editCol {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add-collection-btn {
  background-color: $t-color;
  color: white !important;
  border: none;
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
}
