.profile_title {
  padding: 0 2rem;
}

.profile-tite-span {
  text-decoration: underline solid $t-color;
}

.user-info {
  margin-top: 3rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_image {
  display: flex;
  text-align: center;
}

.profile_picture {
  width: 13rem;
  border-radius: 50%;
  -webkit-box-shadow: 3px 4px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 23px -10px rgba(0, 0, 0, 0.75);
}

.profile_name {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem 0;
}

.description_title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  justify-content: left;
}

.profile_description {
  font-size: 0.8rem;
}

.user-btn {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  //   padding: 0 2rem;
}

.logout-btn {
  display: flex;
  border: none;
  border-radius: 5px;
  width: 7rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #9e2432c5;
  color: white !important;
}

.divider-section {
  width: 75%;
  border: none;
  border-bottom: 0.5px solid $t-color;
}
