.profile_title {
  padding: 0 2rem;
}

.profile-tite-span {
  text-decoration: underline solid $t-color;
}

.user-info {
  margin-top: 3rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_image {
  display: flex;
  text-align: center;
}

.profile_picture {
  width: 13rem;
  border-radius: 50%;
  -webkit-box-shadow: 3px 4px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 23px -10px rgba(0, 0, 0, 0.75);

  @include breakpoint-up(large) {
    width: 26rem;
  }
}

.profile_name {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem 0;
  @include breakpoint-up(large) {
    font-size: 3rem;
  }
}

.description_title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  justify-content: left;
  @include breakpoint-up(large) {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.profile_description {
  font-size: 0.8rem;
  @include breakpoint-up(large) {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0 2rem;
    margin: 1rem 10rem 2rem 10rem;
  }
}

.user-btn {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  //   padding: 0 2rem;
  @include breakpoint-up(large) {
    margin-top: 5rem;
  }
}

.logout-btn {
  display: flex;
  border: none;
  border-radius: 5px;
  width: 7rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #9e2432c5;
  color: white !important;
}

.divider-section {
  width: 75%;
  border: none;
  border-bottom: 0.5px solid $t-color;
}

.container-notification {
  margin-top: 1rem;
  padding: 1rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #27acca41;
  border-radius: 10px;
  background-color: #27acca13;
  -webkit-box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 4px 27px -11px rgba(0, 0, 0, 0.75);
  @include breakpoint-up(large) {
    
  }
}

.image-notification {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.allnotis-container {
  padding: 0 1rem;
  margin-top: 1rem;
}

.notification-text {
  margin: 0 0;
  font-size: 0.8rem;
  text-align: center;
}

.delete-notification {
  border: none;
  background-color: transparent !important;
}

.x-delete {
  color: #27abca;
}
