.container-logo-top {
  background-color: $bg-color;
  border-bottom: 1px solid rgb(121, 121, 121);
  height: 70px;
  width: 100%;
  position: fixed;
  //   left: 0;
  top: 0;
}

.logo {
  font-family: $logo-font;
  font-size: 2rem;
  color: $text-color;
  text-align: center;
  padding: 1rem;
}
