// Colors

$bg-color: #f3f4f7;
$second-color: #fdfdfd;
$text-color: #000000;

// Fonts

$logo-font: "Poiret One";
$body-font: "Open Sans", sans-serif;

// Font sizes

$font-vsm: 1rem;
$font-sm: 1.3rem;
$font-bsm: 1.7rem;
$font-med: 2rem;
$font-lmed: 3rem;
$font-lg: 4rem;
$font-exlg: 6rem;
$font-but: 1.5rem;


