<div class="profile_title">
<h1 class="page-title">myProfile</h1>
</div>
<div class="user-info">
  <div class="profile-image">
    <img class="profile_picture" src="{{ user.image }}" alt="" />
  </div>
  <h3 class="profile_name">{{ user.name }}</h3>

  <h5 class="description_title">Introducing myself...</h5>
  <p class="profile_description">
    {{ user.description }}
  </p>
  <h5 class="description_title">Contact me...</h5>
  <p class="profile_description">{{ user.email }}</p>
</div>
<hr class="divider-section">
<div class="user-btn">
  <button class="edit-btn-profile"><a style="color: white" href="/myprofile/edit-profile">Edit Profile</a></button>
  <button class="logout-btn"><a style="color: white" href="/auth/logout">Log out</a></button>
</div>
