<div>
    <h2>Add outfits to this collection</h2>
    <form action="/mycloset/{{collection._id}}/add-collection" method="post">
        <select name="outfit" id="">
            {{#each thisUser.outfits}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <button type="submit">ADD</button>
    </form>
    <button><a href="/mycloset">BACK</a></button>
</div>