<div class="container-container">
<div class="add-item-container">
  <h3 class="add-item-title">Create a new Collection</h3>
  <hr class="divider-section-app" />
<div class="container-container-add">
    {{#if successMessage}}
    <div class="alert alert-primary" role="alert">
            {{successMessage}}
    </div>
   {{/if}}
   

  <form action="/mycloset/add-collection" method="post">
    <div class="add-item-form-collection">
      <label class="add-item-label" for="">Collection's name:</label>
      <input class="add-item-input" type="text" name="name" />

      <label class="add-item-label" for="">Collection's description:</label>
      <input class="add-item-input" type="text" name="description" />
      <div class="user-btn">
        <button class="edit-btn-item" type="submit">Add</button>
        <button class="delete-item-btn">
          <a href="/mycloset" style="color: white">Back</a>
        </button>
      </div>
    </div>
  </form>
</div>
</div>
</div>
