<div>
    <h2>Edit this collection</h2>
    <form action="/mycloset/{{theCollection._id}}/edit-collection" method="post">
        <label for="">Name:</label>
        <input type="text" name="name" value="{{theCollection.name}}">

        <label for="">Description:</label>
        <input type="text" name="description" value="{{theCollection.description}}">
        <button type="submit">EDIT</button>
    </form>
    <button><a href="/mycloset">BACK</a></button>
</div>